
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.navbar_div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
i.logo-box {
    color: black;
    font-size: 30px;
}
.input-box {
    margin-left: 55px;
}
.notify-icon {
    margin-left: 10%;
}
i.bell-icon {
    color: black;
    font-size: 30px;
}
input.box-styl {
    width: 100%;
    padding: 6px;
    border-radius: 7px;
    margin: 2px 94px 0 30px;
    position: relative;
}
i.search-box {
    position: absolute;
    top: 29px;
    left: 67%;
}
.mySlides {
    height: 230px;
    margin-left: 20px;
}

.mySlides {
    display:none;
}

section.section-two {
    text-align: center;
    background: cornflowerblue;
    margin-left: 27%;
    margin-right: 23%;
    padding: 2px;
    border-radius: 10px;
    color: white;
}
ul.icon-section {
    display: flex;
    justify-content: center;
}

i.mobiles {
    background: plum;
    font-size: 51px;
    padding: 12px 26px;
    border-radius: 38px;
    border: 0px solid;
}

i.laptops {
    background: #4bdf15;
    font-size: 43px;
    padding: 16px 16px;
    border-radius: 38px;
    border: 0px solid;
}

i.cameras {
    background: red;
    font-size: 31px;
    padding: 23px 22px;
    border-radius: 38px;
    border: 0px solid;
}

i.led {
    background: #f59441;
    font-size: 50px;
    padding: 14px 27px;
    border-radius: 38px;
    border: 0px solid;
}

.side-box {
    margin: 24px;
}
.section-five {
    text-align: center;
}
.btn-box {
    background: red;
    border-radius: 17px;
    border: none;
    padding: 6px 20px 6px 20px;
    position: absolute;
    left: 40%;
    z-index: 1;
}
.btns-box {
    background: gray;
    padding: 6px 19px 6px 40px;
    border-radius: 21px;
    border: none;
    position: relative;
}
.top-mr {
    margin-top: 34px;
}
.section-six {
    margin-left: 33%;
}
button.otp-btn {
    width: 50%;
    background: red;
    color: white;
    margin-top: 17px;
    margin-bottom: 10px;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
}
.phone-no {
    width: 50%;
    padding: 9px;
    border: none;
    border-bottom: 2px solid;
}
.section-saven {
    margin-left: 35%;
}
.section-eight {
    margin-left: 35%;
}
input.last-input {
    border: none;
    border-bottom: 2px solid;
    margin-top: 20px;
    width: 50%;
    position: relative;
}
button.last-btn {
    background: red;
    padding: 10px 25px;
    margin-top: 20px;
    margin-left: 32%;
    border: none;
    border-radius: 9px;
    margin-bottom: 20px;
}
i.lst-arow {
    color: white;
    font-size: 20px;
}

section.section-fourth {
    text-align: center;
    background: cornflowerblue;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px 0;
}

.mySlidess {
    display:none;
    height: 500px;
}

.otp-generate {
    display: flex;
    justify-items: center;
}

.otp-generate input {
    width: 40px;
    height: 40px;
    margin: 10px;
}

